@charset "UTF-8";
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f5f5f5;
}

form {
    width: 300px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px gray;
}

input, select {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #218838;
}
/* Style for the paragraph containing the link */
p {
    font-size: 8px;
    color: #333; /* Dark gray color for the text */
    text-align: center; /* Center align the text */
}

/* Style for the link */
a {
    color: #007BFF; /* Blue color for the link */
    text-decoration: none; /* Remove underline from the link */
    font-weight: bold; /* Make the link text bold */
}

/* Add hover effect to the link */
a:hover {
    color: #0056b3; /* Darker blue color on hover */
    text-decoration: underline; /* Underline the link on hover */
}
